{{extend "func_demo_layout.html"}}

{{block sidemenu}}
{{<< sidemenu('FUNCMENU', 'generic/list')}}
{{end}}

{{block content_main}}
{{include "inc_rgrid.html"}}

<rgrid id="grid"></rgrid>

<script>
    var tools = [
      [
        {
          label:'新增',
          icon:'fa fa-plus',
          class:'btn btn-primary',
          url:'/func/add'
        },
        {
          label:'新增(对话框)',
          class:'btn btn-primary',
          onClick: function() {
            var options = {
              onSuccess: function(dialog, d) {
                grid.add(d.data)
              }
            }
            dialog('/func/add1', options);
          }
        }
      ]
    ]

    var query = {{$ query_form}}
    query['field_options'] = {'created_time1':{
        disableDayFn: function (d) {
            //只允许周一到周五被选中
            return d.getDay() == 0 || d.getDay() == 6
        }
    }}

    create_table('grid', {
      tools:tools,
      indexCol:true,
      height:'auto',
      maxHeight:400,
      remoteSort:true,
      download:true,
      editable:true,
      query:query,
      //query_url: url,
      query_ajax: true,
      contextMenu: [
          { type: 'item', title: 'Add Sites', icon: 'fa fa-modx', fn: function(row, col) {
            console.log(row, col)
          }},
          { type: 'item', title: 'Reset Login', icon: 'fa fa-user', fn: function() {}},
          { type: 'item', title: 'Help', icon: 'fa fa-pied-piper', fn: function() {}},
          { type: 'separator' },
          { type: 'item', title: 'Logout', icon: 'fa fa-power-off', fn: function() {}}
        ]
      })

    var grid = document.getElementById('grid')
</script>
{{end}}
