/**
 * Created by HoseaLee on 16/12/6.
 */
.uli-toolbar-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9990;
    width: 0;
    height: 100%;
}

.uli-toolbar-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9990;
    width: 0;
    height: 100%;
}

.uli-toolbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-right: 6px solid #7a6e6e;
    -webkit-transition: right .3s ease-in-out 0s;
    -moz-transition: right .3s ease-in-out 0s;
    transition: right .3s ease-in-out 0s;

}

.uli-toolbar-panels {
    position: absolute;
    left: 6px;
    top: 0;
    width: 270px;
    height: 100%;
    z-index: 2;
    background: #eceaea;
}

.uli-toolbar-panel {
    width: 270px;
    height: 100%;
    position: absolute;
    background: #eceaea;
}

.uli-toolbar-tabs {
    position: absolute;
    top: 50%;
    left: -29px;
    width: 35px;
    margin-top: -61px
}

.uli-toolbar-tab {
    position: relative;
    width: 35px;
    height: 35px;
    margin-bottom: 1px;
    cursor: pointer;
    background-color: #7a6e6e;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px
}

.uli-toolbar-tab .tab-text {
    width: 62px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 12px;
    position: absolute;
    z-index: 1;
    left: 35px;
    top: 0;
    background-color: #7a6e6e;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    -webkit-transition: left .3s ease-in-out .1s;
    -moz-transition: left .3s ease-in-out .1s;
    transition: left .3s ease-in-out .1s;
}

.uli-toolbar-tab-hover {
    background: #c81623;
}

.uli-toolbar-tab-hover .tab-text {
    background: #c81623;
    left: -60px;
}

.uli-toolbar-tab-hover .tab-icon {
    background-color: #c81623;
}

.uli-toolbar-tab-selected, .uli-toolbar-tab-selected .tab-icon {
    background-color: #c81623;
}

.uli-toolbar-panel-header {
    position: relative;
    width: 270px;
    height: 40px;
    line-height: 40px;
    background: #eceaea;
}

.uli-toolbar-panel-main {
    position: relative;
}

div.uli-toolbar-open .uli-toolbar {
    right: 270px;
}

/*panel 进入 跳出 动画*/
@-webkit-keyframes toolbar-scaleIn {
    from {
        opacity: .7;
        -webkit-transform: translateX(270px);
        -moz-transform: translateX(270px);
        transform: translateX(270px)
    }
    to {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@-ms-keyframes toolbar-scaleIn {
    from {
        opacity: .7;
        -webkit-transform: translateX(270px);
        -moz-transform: translateX(270px);
        transform: translateX(270px)
    }
    to {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@-moz-keyframes toolbar-scaleIn {
    from {
        opacity: .7;
        -webkit-transform: translateX(270px);
        -moz-transform: translateX(270px);
        transform: translateX(270px)
    }
    to {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes toolbar-scaleIn {
    from {
        opacity: .7;
        -webkit-transform: translateX(270px);
        -moz-transform: translateX(270px);
        transform: translateX(270px)
    }
    to {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@-webkit-keyframes toolbar-scaleOut {
    to {
        opacity: .5;
        -webkit-transform: scale(0.7) translateX(270px);
        -moz-transform: scale(0.7) translateX(270px);
        transform: scale(0.7) translateX(270px)
    }
}

@-ms-keyframes toolbar-scaleOut {
    to {
        opacity: .5;
        -webkit-transform: scale(0.7) translateX(270px);
        -moz-transform: scale(0.7) translateX(270px);
        transform: scale(0.7) translateX(270px)
    }
}

@-moz-keyframes toolbar-scaleOut {
    to {
        opacity: .5;
        -webkit-transform: scale(0.7) translateX(270px);
        -moz-transform: scale(0.7) translateX(270px);
        transform: scale(0.7) translateX(270px)
    }
}

@keyframes toolbar-scaleOut {
    to {
        opacity: .5;
        -webkit-transform: scale(0.7) translateX(270px);
        -moz-transform: scale(0.7) translateX(270px);
        transform: scale(0.7) translateX(270px)
    }
}

.toolbar-animate-in {
    -webkit-animation: toolbar-scaleIn .35s ease-in-out;
    -moz-animation: toolbar-scaleIn .35s ease-in-out;
    animation: toolbar-scaleIn .35s ease-in-out
}

.toolbar-animate-out {
    -webkit-animation: toolbar-scaleOut .35s ease-in;
    -moz-animation: toolbar-scaleOut .35s ease-in;
    animation: toolbar-scaleOut .35s ease-in
}