{{extend "ui_demo_layout.html"}}

{{block sidemenu}}
{{<< sidemenu('UIMENU', 'dialog', 'basic')}}
{{end}}

{{block content_main}}
<script src="{{=url_for_static('adminlte/adminlte-widgets.js')}}"></script>

<callout subject="Toastr弹出窗" option="info">
  <p>使用 show_message(message, catetory) 来显示弹出提示框.</p>
</callout>

<button class="btn btn-primary" onclick="show_message('Default is success')">Success</button>
<button class="btn btn-warning" onclick="show_message('Warning', 'warning')">Warning</button>
<button class="btn btn-danger" onclick="show_message('Error', 'error')">Error</button>
<button class="btn btn-info" onclick="show_message('Info', 'info')">Info</button>

<script>
  riot.mount('*');
</script>
{{end}}