body.login-page .wrapper {
  /* 加载背景图 */
  background-image: url(/static/site/blue-bg-ground.jpg);

  /* 背景图垂直、水平均居中 */
  background-position: center center;

  /* 背景图不平铺 */
  background-repeat: no-repeat;

  /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
  background-attachment: fixed;

  /* 让背景图基于容器大小伸缩 */
  background-size: cover;

  /* 设置背景颜色，背景图加载过程中会显示背景色 */
  background-color: #d2d6de;
}
body.login-page .content-wrapper {
  background-color:transparent;
  border-left: 0px;
}
body.login-page .main-header .navbar {
  background-color:transparent;
}
body.login-page .main-footer {
  border-left: 0px;
  border-top: 0px;
  background-color:transparent;
  color:white;
}