{{extend "ui_demo_layout.html"}}

{{block sidemenu}}
{{<< sidemenu('UIMENU', 'box')}}
{{end}}

{{block content_main}}
<script src="{{=url_for_static('tags/common-widgets.js')}}"></script>

<callout subject="callout 示例" option="info">
  <pre>
    &lt;callout subject="subect" type="info"&gt;
      &lt;p&gt;This is a test&lt;/p&gt;
    &lt;/callout&gt;
  </pre>
</callout>

<div class="row">
  <div class="col-md-3">
    <box option="primary" border="true" collapse="true" remove="true">
        <yield to="body">
          <h3>Title</h3>
        </yield>
    </box>
  </div>
  <div class="col-md-3">
    <box option="primary" subject="Test" border="true" collapse="true" remove="true">
        <yield to="body">
          <h3>Title</h3>
        </yield>
    </box>
  </div>
</div>

<script>
  riot.mount('*')
</script>
{{end}}
