{{extend "func_demo_layout.html"}}

{{block sidemenu}}
{{<< sidemenu('FUNCMENU', 'generic', 'select_listview')}}
{{end}}

{{block content_main}}
<script src="{{=url_for_static('adminlte/adminlte-widgets.js')}}"></script>

<t:breadcrumb>
    <a href="/func" title="常用功能"></a>
    <a title="Select列表展示"></a>
</t:breadcrumb>

<box type="default" subject="查询条件" collapse="true" border="true">
    <yield to="tools">
        <button type="button" class="btn btn-info btn-xs btn-flat">
            查询数据
        </button>
    </yield>
    <yield to="body">
        <div class="query">
            {{<< query_form}}
        </div>
    </yield>
</box>

{{table_id='table_id'}}
{{include "inc_mmgrid_table.html"}}
<script>
    $(function(){
        create_table("{{=request.path}}");
    });
</script>

<script>
    riot.mount('box');
</script>


{{end}}